@font-face { 
    font-family: 'PTSans'; 
    src: url('../fonts/ptsansnarrow.woff2') format('woff2'), 
         url('../fonts/ptsansnarrow.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'PTSansBold'; 
    src: url('../fonts/ptsansnarrowbold.woff2') format('woff2'), 
         url('../fonts/ptsansnarrowbold.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
*{
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'PTSansBold', Arial, Helvetica, sans-serif;
}
body{
    font-size: 1.4rem;
    line-height: 1.7;
    text-transform: uppercase;
}
.sprite{
    display: none;
}
a{
    text-decoration: none;
    transition: all ease .2s;
}
.container{
    max-width: 940px;
    margin: 0 auto;
}
.main_header{
    background: #000;
    color: #ffffff;
}
.main_header a{
    color: #ffffff;
}
.main_header .container{
    display: flex;
    justify-content: space-between;
}
.menu_toggler{
    display: none;
}
.menu_toggler span{
    width: 45px;
    height: 4px;
    background: #ffffff;
    display: block;
    margin-bottom: 8px;
    position: absolute;
    border-radius: 1px;
}
.menu_toggler span:nth-child(1){
    top: 24px;
}
.menu_toggler span:nth-child(2),
.menu_toggler span:nth-child(3){
    top: 36px;
}
.menu_toggler span:nth-child(4){
    top: 48px;
}
.menu{
    display: flex;
}
.menu_item{
    list-style-type: none;
}
.login,
.menu_link{
    padding: 29px 25px;
    text-transform: uppercase;
    display: block;
    border-bottom: 3px solid transparent;
}
.menu_link:hover,
.menu_link:focus{
    border-bottom: 3px solid #fff;
}
.login{
    background: url(../img/login.png) no-repeat 15px center;
    padding-left: 46px;
}
.login:hover,
.login:focus{
    background:  url(../img/login.png) no-repeat 15px center, #663d15;
}
.logo svg{
    width: 365px;
}
.main{
    background: #000 url(../img/tint@2x.jpg) center top;
    background-size: cover;
    text-align: center;
    padding: 60px 0;
}
.advantages{
    padding-top: 63px;
    display: flex;
    justify-content: space-around;
    color: #f7f4f1;
}
.advantage_title{
    font-size: 3rem;
    line-height: 1.4;
    text-align: center;
    margin: 0 0 2.7rem;
}
.advantage_title:after{
    content: '';
    width: 20px;
    height: 20px;
    background: #f7f4f1;
    display: block;
    margin: 15px auto 0;
    transform: rotate(45deg);
}
.advantage_text{
    max-width: 280px;
}
section.contacts,
section.about{
    background: #ffffff;
    padding: 4.5rem 8rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 6.6rem;
}
section.contacts{
    margin-top: 3.5rem;
}
.info,
.news{
    width: 50%;
    background: url(../img/line.png) right center no-repeat;
    padding-right: 4.3rem;
}
.info .main_text{
    margin-bottom: 2.4rem;
}
.sign,
.gallery{
    width: 50%;
    padding-left: 9.3rem;
}
.subtitle{
    margin: 0 0 2.2rem;
    font-size: 3rem;
    line-height: 1.4;
    text-align: left;
}
.news_item{
    margin-bottom: 2.4rem;
}
.news_title{
    margin: 0;
    font-size: 1.4rem;
}
.news_item .date{
    text-transform: none;
}
.link{
    display: inline-block;
    text-align: center;
    padding: 10px 34px;
    background: #000000;
    color: #ffffff;
    border: none;
    transition: all ease .2s;
    cursor: pointer;
}
.link:hover,
.link:focus{
    background: #663d15;
}
.link_wrapper{
    display: flex;
    justify-content: space-between;
}
.link_wrapper .link{
    width: 47%;
}
.gallery_container .owl-item{
    padding: 8px;
}
.gallery_container img{
    width: 100%;
    margin-bottom: 50px;
}
.gallery .gallery_container .owl-nav button{
    width: 47%;
    display: inline-block;
    text-align: center;
    padding: 10px 34px !important;
    text-transform: uppercase;
    background: #000000;
    color: #ffffff;
    border: none;
    transition: all ease .2s;
    cursor: pointer;
}
.gallery .gallery_container .owl-nav button:hover{
    background: #663d15;
}
.gallery .gallery_container .owl-nav button:focus{
    outline: none;
}
.gallery .gallery_container .owl-nav button.owl-prev{
    margin-right: 16px;
}
.info .link_wrapper{
    max-width: 30rem;
}
.info .link{
    padding: 10px 25px;
}
.sign_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sign_form fieldset{
    width: 47%;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}
.sign_form .main_label{
    display: block;
    padding-left: 1.5rem;
    margin-bottom: 0.6rem;
}
.sign_form .link{
    width: 100%;
    margin-top: 8px;
    padding: 14px 30px;
}
.main_input{
    display: block;
    width: 140px;
    padding: 12px 15px;
    border: solid 2px #000101;
    text-transform: none;
}
.main_footer{
    color: #ffffff;
    padding: 6rem 0;
}
.main_footer .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.main_footer .link:hover,
.main_footer .link:focus{
    background: #000000;
}
.column_contacts{
    text-align: left;
}
.link__underline{
    padding: 0;
    background: transparent;
    text-decoration: underline;
    color: #ffffff;
}
.link__underline:hover,
.link__underline:focus{
    color: #663d15;
}
.main_footer .main_text{
    margin: 0;
}
.column.developed{
    padding-left: 130px;
}
.column.developed .main_text{
    margin-bottom: 15px;
}
.solcial_links{
    display: flex;
    justify-content: space-around;
    margin: 0 6px;
}
.social_link{
    width: 45px;
    height: 45px;
    padding: 10px;
}
.social_link svg{
    width: 100%;
    height: 100%;
    fill: #fff;
}
.social_link:hover svg,
.social_link:focus svg{
    fill: #663d15;
}
.main_footer{
    background: rgba(0, 0, 0, 0.9);
}
.main_footer .column{
    width: 30%;
}
.main_footer .link{
    box-shadow: none;
}
.main_footer .link:hover,
.main_footer .link:focus{
    box-shadow: none;
    color: #663d15;
}



/*         BARBERSHOP ITEM              */
.default .logo{
    padding: 26px 15px;
}
.default .menu{
    flex-grow: 2;
}
.default .main{
    background: linear-gradient(to bottom right, #f8f5f2, #fdfaf7);
    padding-top: 2.5rem;
    text-align: left;
}
.page_title{
    text-align: left;
    font-size: 3rem;
    margin-bottom: 1.3rem;
}
.breadcrumbs{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.breadcrumb_link{
    color: #000000;
}
.breadcrumb_link:after{
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #000000;
    transform: rotate(45deg);
    margin: 0 18px;
    vertical-align: 3px;
}
.breadcrumb_link__active{
    color: #aba9a7;
}
.breadcrumb_link__active:after{
    display: none;
}
.item{
    display: flex;
    padding-top: 6rem;
}
.item img{
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}
.big_picture{
    margin-bottom: 2rem;
}
.pictures_container{
    display: flex;
    justify-content: space-between;
}
.item_description{
    text-align: left;
    padding-left: 8rem;
    padding-top: 2rem;
}
.flex_container{
    display: flex;
    justify-content: space-between;
}
.vendor_code{
    color: #aeaeae;
}
.item_description .main_text{
    margin: 4rem 0;
}
span.price{
    display: inline-block;
    background: #e5e5e5;
    padding: 10px 35px;
}
.buy{
    margin-bottom: 6.5rem;
}
.main_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 7rem;
}
.main_item:before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #000000;
    transform: rotate(45deg);
    margin: 0 18px 0 0;
    vertical-align: 3px;
}
.item_description .subtitle{
    font-size: 2.4rem;
}
/*     END BARBERSHOP ITEM              */


/*              PRICE                */
.page_title__lines{
    text-align: center;
    font-size: 4.8rem;
    position: relative;
    z-index: 2;
    margin-bottom: 4rem;
}
.page_title__lines:before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 15%;
    top: calc(50% - 2px);
    left: 0;
    z-index: 5;
    height: 2px;
    background: #000000;
}
.page_title__lines:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 15%;
    top: calc(50% - 2px);
    right: 0;
    z-index: 5;
    height: 2px;
    background: #000000;
}
.price_list .column{
    width: 50%;
}
.price_list .column .main_text{
    max-width: 38rem;
}
.price_table{
    border-collapse: collapse;
    border: 2px solid #000;
    width: 100%;
    margin-bottom: 12rem;
}
.price_table td{
    border-collapse: collapse;
    border: 2px solid #000;
    width: 50%;
    padding: 12px 20px;
}
.subtitle_small{
    font-size: 2.4rem;
}
.price_list .main_item{
    line-height: 2.7;
}
/*           END PRICE               */




/*               SHOP             */
.select{
    width: 30%;
    padding-top: 5rem;
}
.show_items{
    width: 70%;
    padding-top: 5rem;
}
input[type='radio'],
input[type='checkbox']{
    display: none;
}
.select label{
    display: block;
    margin-bottom: 1.5rem;
}
.select_manufacturers{
    margin-bottom: 6rem;
}
input[type='checkbox'] + label:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #000101;
    margin-right: 2.5rem;
    vertical-align: -7px;
}
input[type='checkbox']:checked + label:before{
    background: url(../img/cross.png) center no-repeat;
}
input[type='radio'] + label:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #000101;
    margin-right: 2.5rem;
    vertical-align: -7px;
}
input[type='radio']:checked + label:before{
    background: url(../img/dott.png) center no-repeat;
}
.select_form .link{
    margin-top: 6rem;
}
.show_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.show_items .shop_item{
    width: 30%;
}
/*         END   SHOP             */



/*           MEDIA          */
@media screen and (max-width: 940px){
    .container{
        max-width: 100%;
        padding: 0 2rem;
    }
    html{
        font-size: 9px;
    }
    .advantage_text{
        padding: 0 20px;
    }
    section.contacts, 
    section.about{
        padding: 4rem 5rem;
    }
    .sign, .gallery{
        padding-left: 6rem;
    }
    .info .link_wrapper{
        max-width: 35rem;
        margin: 0 auto;
    }
    .column.developed{
        padding-left: 90px;
    }
    .item_description{
        padding-left: 5rem;
    }
    .menu_link{
        padding: 29px 20px;
    }
}
@media screen and (max-width: 770px){
    .container{
        max-width: 100%;
        padding: 0 15px;
    }
    .menu{
        display: none;
    }
    .menu_toggler{
        display: block;
        flex-grow: 1;
    }
   .advantages{
       flex-direction: column;
   }
   .advantage_text{
       max-width: 400px;
       margin: 0 auto 70px;
   }
   .advantage_text:last-child{
       margin-bottom: 30px;
   }
   section.contacts,
   section.about{
       flex-direction: column;
   }
   .info,
   .news{
       width: 100%;
       background: transparent;
       margin-bottom: 5rem;
       text-align: center;
       padding: 0;
   }
   .sign,
   .gallery{
        width: 100%;
        padding: 0;
        text-align: center;
   }
   .subtitle{
       text-align: center;
   }
   .sign_form{
       max-width: 45rem;
       margin: 0 auto;
   }
   .sign_form .main_label{
       text-align: left;
   }
   .main_input{
       width: 100%;
   }
   .column.developed{
       padding-left: 60px;
   }
   .main_footer .container{
       flex-direction: column;
   }
   .main_footer .column{
       width: 100%;
       text-align: center;
       margin-bottom: 3rem;
   }
   .column.developed{
       padding-left: 0;
   }
   .item{
       flex-direction: column;
   }
   .page_title{
       text-align: center;
   }
   .breadcrumbs{
       flex-wrap: wrap;
       text-align: center;
       justify-content: center;
   }
   .default .item{
       max-width: 440px;
       margin: 0 auto;
   }
   .default img{
       max-width: 100%;
       box-shadow: none;
    }
   .pictures_container img{
       max-width: 31%;
       height: auto;
   }
   .item_pictures{
       margin-bottom: 4rem;
   }
   .item_description{
       padding: 0;
   }
   .flex_container{
       flex-direction: column;
   }
   .flex_container .columnn{
       width: 100%;
   }
   .price_list .column{
       width: 100%;
   }
   .page_title__lines:before,
   .page_title__lines:after{
       display: none;
   }
   .page_title__lines{
       line-height: 1.2;
       font-size: 4rem;
   }
   .main_list{
       margin-bottom: 3rem;
       text-align: center;
   }
   .price_list .column .main_text{
       max-width: 100%;
       text-align: center;
       margin-bottom: 3rem;
   }
   .price_table{
       margin-bottom: 3rem;
   }
}
@media screen and (max-width: 480px){
    .container{
        max-width: 100%;
        padding: 0 15px;
    }
    .logo svg{
        width: 300px;
    }
    section.contacts,
    section.about{
        padding: 2rem;
    }
    .gallery .gallery_container .owl-nav button{
        display: block;
        width: 25rem;
        margin: 0 auto 2rem;
    }
    .info .link_wrapper{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .link_wrapper .link{
        width: 25rem;
        margin: 0 auto 2rem;

    }
}

/*       end MEDIA          */